[Unit]
Description=Honeypot HTTP (Flask)
After=network.target

[Service]
Type=simple
User=kali
Group=kali
WorkingDirectory=/home/kali/honeypots/http
ExecStart=/home/kali/honeypots/venv/bin/python /home/kali/honeypots/http/honeypot_http.py
Restart=on-failure
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
